@tailwind base;
@tailwind components;
@tailwind utilities;
.page-wrapper {
    height: calc(100vh - 70px)
}

.table tr td,
.table tr th {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.table tr:nth-child(even) {
    background-color: #fff;
}